: ${XDG_CACHE_HOME:=$HOME/.cache}
direnv_layout_dir() {
  local pwd_hash
  pwd_hash=$(basename "$PWD")-$(echo -n "$PWD" | shasum | cut -d ' ' -f 1 | head -c 7)
  echo "$XDG_CACHE_HOME/direnv/layouts/$pwd_hash"
}
shopt -s globstar
for py in hyperformer/**/*.py; do
  nix_direnv_watch_file $py
done;
nix_direnv_watch_file requirements.txt
nix_direnv_watch_file flake.nix
nix_direnv_watch_file flake.lock
use_flake