black
click
datasets
dill
filelock
future
gitpython
nltk
numpy
pandas
pip
pyreadstat
rouge-score
sacrebleu
sacremoses
scikit-learn
scipy
sentencepiece
tensorboard
tokenizers
torch
torchaudio
tqdm
transformers
